html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: "Playfair Display";
  padding-top: 70px;
}

#header {
  /*
  background-color: red;
  */
  width: 1062px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

#header h1 {
  font-family: "Inconsolata";
  float: left;
  font-size: 1.875em;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 0.8;
  color: rgb(0, 0, 0);
  width: 119px;/* This value comes from Photoshop 'Copy CSS' */
}

#header h1 a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#header ul {
  float: right;
  margin: 0; 
  padding: 0;
  list-style: none;
}

#header ul li {
  display: inline-block;
  width: 115px;
  text-align: center;
  /*
  background-color: aqua;
  */
  vertical-align: top;
}

#header ul li:nth-child(1) {
  margin-right: 87px;
}

#header ul li:nth-child(2) {
  margin-right: 56px;
}

#header ul li:nth-child(3) {
  margin-right: 28px;
}

#header ul li:last-child {
  width: 86px;
  text-align: right;
}

#header ul li a {
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875em;
  vertical-align: top;
  display: block;
  line-height: 1.714;
}

#header ul li a:hover {
  color: red;
}

#firstPost {
  padding-top: 46px;
  width: 1062px;
  margin-left: auto;
  margin-right: auto;
}

#firstPost img {
  display: block; /* Make sure the container DIV has the same height */
}

#firstPost > div:first-child ~ * {
  width: 902px;
  margin-left: auto;
  margin-right: auto;
}

.photodiary {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  /*
  position: absolute;
  left: 150px;
  top: 770.149px;
  */
  width: 85px;
  height: 11px;
}

#firstPost .title {
  font-size: 30px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  /*
  position: absolute;
  left: 149.156px;
  top: 809.598px;
  */
  width: 397px;
  height: 30px;
  font-weight: normal;
}

#firstPost p {
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  /*
  position: absolute;
  left: 149.004px;
  top: 898.981px;
  */
  width: 893px;
  height: 183px;
}

#firstPost .comment {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  /*
  position: absolute;
  left: 150px;
  top: 1108.149px;
  */
  width: 123px;
  height: 11px;
}


div.row {
  width: 902px;
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  min-height: 100px;
}
