body {
  margin: 0;
  padding: 0;
}

p, h1 {
  margin: 0;
}

/* 480px */

body {
  background-color: black;
}

.wrap {
  background-color: rgb(26, 26, 26);
  width: 503px;
  z-index: 55;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 21px;

  .row1 {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    .topImage {
      width: 100%;
      height: 480px;
    }

    .callToAction {
      width: 100%;
      height: 280px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 13px;
      margin-bottom: 14px;
      position: relative;


      background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(51,51,51) 100%);
      background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(51,51,51) 100%);
      background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(51,51,51) 100%);

      p {
        position: absolute;
        left: 54px;
        top: 72px;
        font-size: 30px;
        font-family: "Arial";
        color: rgb(204, 204, 204);
        line-height: 1.2;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
        width: 330px;
        margin-left: auto;
        margin-right: auto;
      }

    }

    .smallImage {
      width: 100%;
      height: 233px;

      img {
        width: 233px;
        overflow: hidden;
        height: 233px;
      }

      .imgleft {
        float: left;  
      }
      .imgright {
        float: right;  
      }
    }
  }

  .row2 {
    width: 480px;
    margin-left: auto;
    margin-right: auto;

    .callToAction {
      width: 100%;
      height: 245px;
      background-color: rgb(17, 17, 17);
      padding-left: 54px;
      padding-right: 88px;
      padding-top: 51px;
      box-sizing: border-box;

      h1 {
        font-size: 28px;
        font-family: "Arial";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: left;
      }

      p {
        margin-top: 30px;
        font-size: 24.375px;
        font-family: "Arial";
        color: rgb(153, 153, 153);
        line-height: 1.2;
      }

    }

    .bottomImg {
      width: 100%;
      height: 481px;
      margin-top: 17px;
    }
  }
}

