@import 'normalize';

/* Reset */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h2, input {
  margin: 0;
  border: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

/* Page */

$bodybgcolor : #cecedc; 
$leftnavbgcolor : #3c3c40;
$leftnavcategorytitlebgcolor: #a8bea1;
$headerbgcolor: #e8e8f0;
$headerbordercolor: #cecedc;

body {
  background-color: $bodybgcolor;  
}

#container {
  width: 1260px;
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;

  #leftNavigation {
    width: 236px;
    float: left;
    background-color: $leftnavbgcolor;
    min-height: 300px;
    position: relative;

    div.top {
      width: 72px;
      height: 74px;
      background: $leftnavbgcolor;
      position: absolute;
      top: 0;
      right: -72px;

      img {
        position: absolute;
        top: 26px;
        left: 22px;
      }
    }
    
    form {
      margin-top: 23px;
      margin-left: 30px;
      width: 179px;
      height: 31px;
      overflow: hidden;

      input[type=text] {
        padding: 0;
        border: 0;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        background-color: rgb(92, 92, 94);
        box-sizing: border-box;
        padding-left: 12px;
        /* TODO */
        /* Place holder text style */
        color: white;
        font-size: 12px;
        font-family: "Droid Sans";
        line-height: 1.2;
      }
    }

    >ul {
      margin-top: 24px;

      li {
        font-size: 12px;
        color: $leftnavcategorytitlebgcolor;
        

        p {
          font-size: 12px;
          padding-left: 30px;
          height: 20px;
        }

        ul li {
          color: white;
          box-sizing: border-box;
          padding-left: 30px;
          line-height: 29px;
          font-family: "Droid Sans";

          a {
            text-decoration: none;
            color: white;
          }
        }

        ul li.active {
          background: rgb(92, 92, 94) url(../images/orangebar.png) left center no-repeat;
        }
      }

      >li {
        margin-top: 16px;
      }
    }
  }

  #mainContainer {
    margin-left: 236px;
    min-height: 500px;
    overflow: auto;

    #header {
      box-sizing: border-box;
      height: 76px;
      background: $headerbgcolor;
      border-bottom: 2px solid $headerbordercolor;
      padding-top: 23px;
      padding-left: 113px;

      .content {
        box-sizing: border-box;
        width: 543px;
        height: 31px;

        a {
          text-decoration: none;
          text-align: center;
          line-height: 31px;
          display: block;
          font-size: 14px;
          font-family: "Droid Sans";
          color: rgb(255, 255, 255);
          font-weight: bold;
          border-radius: 2px;
          background-color: rgb(102, 102, 109);
          width: 104px;
          height: 31px;
          float: left;
        }

        span {
          margin-left: 18px;
          font-size: 12px;
          font-family: "Droid Sans";
          color: rgb(102, 102, 109);
          line-height: 31px;
          text-align: left;
          float: left;
        }

        input[type=text] {
          box-sizing: border-box;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(206, 206, 220);
          border-radius: 2px;
          background-color: rgb(248, 248, 250);
          width: 145px;
          height: 33px;
          margin-top: -1px;
          float: left;
          margin-left: 14px;
        }

        input[type=checkbox] {
          box-sizing: border-box;
          float: left;
          margin-left: 19px;
          line-height: 31px;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(206, 206, 220);
          border-radius: 2px;
          background-color: rgb(248, 248, 250);
          width: 18px;
          height: 18px;
          margin-top: 6px;
        }

        label {
          float: left;
          margin-left: 18px;
          font-size: 12px;
          font-family: "Droid Sans";
          color: rgb(102, 102, 109);
          line-height: 31px;
          text-align: left;
        }

        input[type=submit] {
          border-radius: 2px;
          background-color: rgb(168, 190, 161);
          width: 73px;
          height: 31px;
          float: right;
          font-size: 14px;
          font-family: "Droid Sans";
          color: rgb(255, 255, 255);
          font-weight: bold;
          line-height: 1.2;
        }
      }
    }

    #leftSide {
      float: left;
      width: 484px;
      min-height: 100px;
      box-sizing: border-box;
      position: relative;
      background: #f8f8fa;

      .drager {
        width: 11px;
        height: 44px;
        position: absolute;
        right: -6px;
        top: 14px;
      }

      h2 {
        background-color: #f8f8fa;
        height: 71px;
        font-size: 16px;
        font-family: "Droid Sans";
        color: rgb(239, 95, 72);
        font-weight: bold;
        line-height: 1.2;
        text-align: left;
        box-sizing: border-box;
        padding-left: 71px;
        padding-top: 26px;
      }

      ul {
        border-top: 1px solid #d7d7de;

        li {
          border-bottom: 1px solid #d7d7de;
          box-sizing: border-box;
          height: 152px;
          background: #f8f8fa url(../images/arrow.png) 31px center no-repeat;
          position: relative;

          .stars {
            position: absolute;
            left: 137px;
            top: 19px;
          }

          .avatar {
            position: absolute;
            top: 53px;
            left: 71px;

          }

          .profile {
            position: absolute;
            left: 135px;
            top: 47px;

            .name {
              font-size: 16px;
              font-family: "Droid Sans";
              color: rgb(102, 102, 109);
              font-weight: bold;
              line-height: 1.2;
              text-align: left;
            }
            .email {
              margin-top: 3px;
              font-size: 12px;
              font-family: "Droid Sans";
              color: rgb(102, 102, 109);
              line-height: 1.5;
              text-align: left;
            }
            .status {
              font-size: 12px;
              line-height: 18px;
              text-align: left;
              color: #a8bea1;
              font-weight: bold;
            }
          }
        }

        li:first-child {
          height: 151px;
        }

        li.active {
          background-color: #f1f1f9;
          border-right: none;
          width: 485px;
        }
      }

      div.page-numbers {
        height: 31px;
        width: 168px;
        margin-top: 132px;
        margin-left: 71px;
        margin-bottom: 100px;
        box-sizing: border-box;

        a {
          background-color: #cecedc;
          text-align: center;
          text-decoration: none;
          color: white;
          display: block;
          height: 31px;
          width: 31px;
          margin-right: 8px;
          line-height: 31px;
          float: left;
          border-radius: 2px;
          font-size: 14px;
          font-family: "Droid Sans";
          font-weight: bold;
        }

        a.active {
          background-color: #f1f1f9;
          color: #cecedc;
        }

        a:last-child {
          width: 51px;
          margin-right: 0;
        }
      }
    }

    #rightSide {
      float: left;
      width: 540px;
      min-height: 200px;
      background-color: rgb(241, 241, 249);
      box-sizing: border-box;
      padding-top: 28px;
      border-left: 1px solid #cecedc;

      .profile-details {
        height: 160px;
        width: 455px;
        margin-left: 42px;
        background: #f1f1f9;

        form {
          position: relative;

          fieldset {
            border: 0;
            margin: 0;
            padding: 0;

            legend {
              font-size: 16px;
              font-family: "Droid Sans";
              font-weight: bold;
              color: #66666d;

              span {
                color: #a8bea1;
              }
            }

            div.avatar {
              width: 90px;
              height: 115px;
              position: absolute;
              left: 0;
              top: 45px;

              img {
                margin-left: 1px;
              }

              a {
                font-size: 12px;
                font-family: "Droid Sans";
                color: rgb(168, 190, 161);
                text-decoration: underline;
                line-height: 1.2;
                text-align: left;
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
              }
            }

            table {
              position: absolute;
              top: 44px;
              left: 110px;
              width: 278px;
              height: 116px;
              border-spacing: 0;

              tr {
                th {
                  width: 104px;
                  text-align: right;
                  font-size: 12px;
                  font-family: "Droid Sans";
                  font-weight: normal;
                  color: rgb(102, 102, 109);
                  line-height: 16px;
                }

                td {
                  input {
                    box-sizing: border-box;
                    width: 145px;
                    height: 33px;
                    border: 1px solid #cecedc;
                    float: right;
                    border-radius: 2px;
                    padding-left: 8px;

                    font-size: 12px;
                    color: #66666d;
                  }
                }

                td.updatedDate {
                  box-sizing: border-box;
                  padding-left: 29px;
                  color: #66666d;
                  font-size: 12px;
                  font-weight: bold;
                  font-family: "Droid Sans";
                }
              }

              tr:nth-child(1) {
                th {
                  vertical-align: top;
                  padding-top: 10px;
                }
                td {
                  vertical-align: top;
                }

              }

              tr:last-child {
                vertical-align: bottom;
              }

            }

            div.buttons {
              position: absolute;
              top: 45px;
              right: 0;
              width: 54px;
              height: 80px;

              input[type=image] {
                float: right;
              }
            }
          }

        }


      }
      .customer-information {
        width: 455px;
        height: 460px;
        margin-left: auto;
        margin-right: auto;
        background-color: purple;
        margin-top: 36px;
      }

      .text-redactor {
        height: 256px;
        width: 456px;
        margin-left: auto;
        margin-right: auto;
        background: pink;
        margin-top: 35px;
      }

      .file-space {
        width: 455px;
        height: 78px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
        background: orange;
      }

      .statistics {
        height: 536px;
        width: 456px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px;
        margin-bottom: 243px;
        background: cyan;
      }
    }
  }
}

