body {
  background-color: #fff;
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 1000px;
  height: 90px;
  padding-top: 18px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;
}

#header ul.submenu {
  position: absolute;
  left: 578px;
  top: 18px;
  float: left;
  list-style-position: inside;

  font-size: 14px;
  font-family: "SimSun";
}

#header ul.submenu li {
  float: left;
  height: 17px;
}

#header ul.submenu li.home,
#header ul.submenu li.favorite {
}

#header ul.submenu li.home a,
#header ul.submenu li.favorite a {
  display: inline-block;
  height: 17px;
  line-height: 17px;
  vertical-align: top;
}

#header ul.submenu li.home {
  width: 100px;
  list-style-image: url(images/home-icon.png);
}

#header ul.submenu li.favorite {
  width: 100px;
  list-style-image: url(images/plus-icon.png);
}

#header ul.submenu li.hotline span {
  font-family: "Arial";
  color: rgb(255, 0, 0);
}

#header .navibar {
  position: absolute;
  left: 200px;
  right: 0;
  bottom: 0;
  height: 40px;
}

#header .navibar > li {
  float: left;
  position: relative;
}

#header .navibar > li:hover,
#header .navibar > li.active {
  background-color: #ff0000;
}

#header .navibar > li:hover > a,
#header .navibar > li.active > a {
  color: #fff;
}

#header .navibar > li a {
  display: block;
  width: 84px;
  height: 40px;
  text-align: center;
  line-height: 40px;

  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #3d3d3d;
}

#header .navibar > li ul {
  position: absolute;
  left: 0;
  top: 40px;
  border: 1px solid #e0e0e0;
  display: none;

  color: #5a5a5a;
}

#header .navibar > li ul li {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

#header .navibar > li:hover ul,
#header .navibar > li.active ul {
  display: block;
  z-index: 999;
}


#slider {
  border-top: 6px solid #0059b5;
}

#slider-container {
  position: relative;
}

#slider-container img {
  width: 100%;
}

#slider-container .slidesjs-pagination {
  left: 0;
  width: 100%;
  bottom: 6px;
  text-align: center;
}

#slider-container .slidesjs-pagination li {
  float: none;
  display: inline-block;
}

#slider-container .slidesjs-navigation {
  display: none;
}

#services {
  width: 1000px;
  height: 397px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

#services h2 {
  font-size: 24px;
  font-family: "Microsoft YaHei";
  color: rgb(0, 0, 0);
  line-height: 1.256;
  text-align: center;
}

#services ul {
  display: flex;
  justify-content: space-between;
}

#services ul li {
  width: 270px;
  height: 312px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

#services ul li:nth-child(1) {
  background-color: #fde07d;
}
#services ul li:nth-child(2) {
  background-color: #7292fa;
}
#services ul li:nth-child(3) {
  background-color: #fba96c;
}

#services ul li h3 {
  text-align: center;
}

#services ul li div.content {
  border-top: 1px dotted #898989;
  width: 236px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 25px;
  margin-top: 5px;
}