body {
  font-size: 100%;
}

p, h1, h2 {
	margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder { /* Firefox 18- */
  color: white;  
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white;  
  opacity: 1;
}

:-ms-input-placeholder {  
  color: white;  
}

#header {
  width: 100%;
}

#header .line {
  background-color: #4d9543;
  width: 100%;
  height: 10px;
}

#header .container {
  width: 960px;
  height: 209px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#header #logo ,
#header #callToAction ,
#header #navigation {
  position: absolute;
}

#header #logo {
  width: 214px;
  height: 77px;
  left: 0;
  top: 42px;
}

#header #callToAction {
  border-right: 1px solid #c8c8c8;
  width: 182px;
  height: 58px;
  top: 52px;
  right: 0;
}

#header #callToAction p {
  margin: 0;
  letter-spacing: 0.025em; 
  font-family: "Kozuka Gothic Pro EL";
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header #callToAction p:first-child {
  color: #333;
  font-size: 1.5em;
}

#header #callToAction p:last-child {
  color: #509743;
  font-size: 1.125em;
}

#header #callToAction p:last-child span {
  font-weight: bold;
}

#header #navigation {
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: url(../images/navigation-bg.png) no-repeat;
}

#header #navigation img.home {
  position: absolute;
  left: 19px;
  top: 15px;
}

#header #navigation ul {
  padding-left: 56px;
  display: table;
  height: 100%;
}

#header #navigation ul li {
  display: table-cell; 
  vertical-align: middle;
  text-align: center;
  width: 119px;
  background: url(../images/navigation-menu-delimiter.png) no-repeat;
}

#header #navigation ul {
  background: url(../images/navigation-menu-delimiter.png) no-repeat right;
}

#header #navigation ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

#header #navigation #form {
  position: absolute;
  width: 261px;
  right: 19px; 
  top: 50%;
  height: 30px;
  margin-top: -15px;
}

#header #navigation #form form {
  height: 100%;
  overflow: auto;
}

#header #navigation #form form input {
  float: left;
}

#header #navigation #form form input[type=text]{
  border: 0;
  width: 224px;
  height: 100%;
  background: url(../images/keyword-bg.png) no-repeat;
  color: white;
  padding-left: 22px;
  box-sizing: border-box;
}

#header #navigation #form form input[type=text]:focus {
  outline: none;
}

#header #navigation #form form .searchBtn {
  margin-left: 20px;
  margin-top: 6px;
}

#slideshow {
  margin-top: 40px;
  width: 960px;
  height: 312px;
  margin-left: auto;
  margin-right: auto;
	
	position: relative;
	overflow: hidden;
}

#slideshow > div {
	position: relative;
}

#slideshow > div h1 {
	position: absolute;
	width: 457px;
	height: 54px;
	right: 39px;
	top: 54px;
	color: white;
	font-size: 24px;
	letter-spacing: 0.025em;
	font-weight: lighter;
}

#slideshow > div h1 span {
	font-weight: bold;
}

#slideshow > div .intro {
	width: 398px;
	min-height: 87px;
	position: absolute;
	right: 24px;
	top: 155px;
	
	font-size: 13px;
	letter-spacing: 0.025em;
	line-height: 18px;
}

#slideshow > div .read-more {
	position: absolute;
	left: 540px;
	top: 228px;
	background: url(../images/read-more-icon.png) no-repeat left center;
	padding-left: 14px;
}

#slideshow > div .read-more a {
	text-decoration: none;
	color: #509743;
	font-size: 13px;
	font-style: italic;
	letter-spacing: 0.025em;
	line-height: 18px;
}

.slidesjs-navigation {
	position: absolute;
	display: block;
	width: 7px;
	height: 13px;
	bottom: 27px;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 10;
	text-indent: 7px;
}

.slidesjs-previous {
	right: 51px;
	background-image: url(../images/left-arrow.png);
}

.slidesjs-previous:hover,
.slidesjs-previous:active {
	background-image: url(../images/left-arrow-active.png);
}

.slidesjs-next {
	right: 24px;
	background-image: url(../images/right-arrow.png);
}

.slidesjs-next:hover,
.slidesjs-next:active {
	background-image: url(../images/right-arrow-active.png);
}

.slidesjs-pagination {
	position: absolute;
	left: 24px;
	bottom: 23px;	
	z-index: 10;
}

.slidesjs-pagination li {
	float: left; 
	width: 23px;
	height: 15px;
}

.slidesjs-pagination li a {
	display: block;
	overflow: hidden;
	text-indent: 24px;
	background: url(../images/ellipse.png) no-repeat left center;
	height: 100%;
	width: 100%;
}

.slidesjs-pagination li a.active {
	background-image: url(../images/ellipse-active.png);
}

#services {
  margin-top: 37px;
  width: 960px;
  height: 253px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/service-bg.png) no-repeat;
  box-sizing: border-box;
  padding-top: 24px;
  padding-left: 28px;
  clear: both;
}

#services > div {
  float: left;
  min-height: 157px;
  max-height: 253px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right top;
}

#services > div h2 {
  font-size: 24px;
  color: #333;
}

#services > div h2 span {
  color: #509743;
  font-weight; bold;
}

#services > div p {
  width: 261px;
  color: #555;
  font-size: 13px;
  line-height: 18px;
  word-spacing: 0.025em;
}

#services > div p.read-more {
  font-style: italic;
  color: #509743;
  margin-top: 20px;
  padding-left: 17px;
  background: url(../images/read-more-icon.png) no-repeat left center;
}

#services div.web-design {
  width: 402px;
  background-image: url(../images/bulb.png);
}

#services div.vector-design {
  width: 423px;
  margin-left: 78px;
  background-image: url(../images/pen.png);
}

#social {
  width: 960px;
  height: 313px;
  outline: 1px dotted green;
  margin-left: auto;
  margin-right: auto;
}

#links {
  width: 100%;
  height: 318px;
  background-color: gray;
}

#clients {
  width: 960px;
  height: 145px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  width: 100%;
  height: 197px;
  border-top: 1px solid #c8c8c8;
}

#footer .container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
