body {
  margin: 0;
  background: #59d3fa url(../images/web2-mockup-psd.png) repeat-x;
}

h1 {
  margin: 0;
}

#canvas {
  box-sizing: border-box;
  width: 1200px;
  height: 1050px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  
  z-index: 1;
    
  .header {
    width: 950px;
    height: 105px;
    margin-left: auto;
    margin-right: auto;
    
    .logo {
      width: 309px;
      float: left;
    
      h1 {
        a {
          background: url(../images/title.png) no-repeat;
          display: block;
          width: 100%;
          height: 105px;
          overflow: hidden;
          text-indent: 310px;
        }
      }
    }
    
    .nav {
      width: 629px;
      height: 105px;
      float: right;
    }
  }
  
  .featuredarea {
    margin-top: 3px;
    width: 1032px;
    height: 341px;
    background-color: red;
    margin-left: 150px;
  }
  
  .boxes {
    width: 948px;
    height: 183px; 
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
  }
  
  .more {
    width: 937px;
    height: 117px;
    background-color: blue;
    margin-left: 130px;
    margin-right: 133px;
    margin-top: 21px;
  }
  
  .footer {
    width: 926px;
    height: 48px;
    margin-left: 134px;
    margin-right: 142px;
    background-color: pink;
    background: url(../images/footer-border.png) top left no-repeat;
  }
}
