@import 'normalize';

body {

}

.bg {
  width: 100%;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.83);
  background-image: url(../images/dist/light.png);
  background-repeat: no-repeat;
  background-size: 60.625% 84.0669014084507%;
  background-position-x: 50%;
}

.clouds {
  width: 100%;
  height: 100%;
  background-image: url(../images/dist/clouds.png);
  background-repeat: no-repeat;
  background-size: 100%;
}