@import "normalize";

html {
  font-size: 62.5%; 
}

body {
  font-family: "Playfair Display";
  padding-top: 7rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#header {
  width: 106.2rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-family: "Inconsolata";
    float: left;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 0.8;
    color: rgb(0, 0, 0);
    width: 11.9rem;/* This value comes from Photoshop 'Copy CSS' */

    a {
      font-size: 3rem;
      text-decoration: none;
      color: rgb(0, 0, 0);
    }
  }

  ul {
    float: right;
    margin: 0; 
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
      width: 115px;
      text-align: center;
      vertical-align: top;

      a {
        color: #626262;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;
        vertical-align: top;
        display: block;
        line-height: 1.714;
      }

      a:hover {
        color: red;
      }
    }

    li:nth-child(1) {
      margin-right: 87px;
    }

    li:nth-child(2) {
      margin-right: 56px;
    }

    li:nth-child(3) {
      margin-right: 28px;
    }

    li:last-child {
      width: 86px;
      text-align: right;
    }
  }
}

#firstPost {
  padding-top: 46px;
  width: 1062px;
  margin-left: auto;
  margin-right: auto;

  img {
    display: block; /* Make sure the container DIV has the same height */
  }

  > div:first-child ~ * {
    width: 902px;
    margin-left: auto;
    margin-right: auto;
  }

  .category {
    font-size: 1.4rem;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 96px;
  }

  .title {
    font-size: 3rem;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    height: 3rem;
    font-weight: normal;
    margin-top: 25px;
  }

  p {
    font-size: 1.4rem;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
    width: 893px;
    height: 183px;
  }

  .comment {
    font-size: 1.4rem;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    width: 123px;
    display: block;
    text-decoration: none;
  }
}

div.row {
  width: 902px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100px;
  height: 494px;
  overflow: hidden;
  margin-top: 70px;
  margin-bottom: 70px;

  > div {
    width: 420px;
  }
  > div:first-child {
    float: left;
  }
  > div:last-child {
    float: right;
  }

  .lifestyle {
    font-size: 1.4rem;
    font-family: "Ubuntu";
    color: rgb(180, 173, 158);
    text-transform: uppercase;
    line-height: 1.2;
    height: 11px;
  }

  .title {
    font-size: 3rem;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    font-weight: normal;
  }

  p {
    font-size: 1.4rem;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
    width: 414px;
    height: 63px;
  }
}

#newsletter {
  height: 287px;
  background-color: #f0f0f0;
  display: table;
  width: 100%;

  .inputs {
    position: relative;
    width: 397px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 70px;
  }

  form {
    width: 397px;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    fieldset {
      border: none;
      width: 397px;
      margin-right: auto;
      margin-left: auto;

      legend {
        font-size: 30px;
        font-family: "Playfair Display";
        color: rgb(51, 51, 51);
        line-height: 1.2;
        text-align: center;
        width: 374px;
        height: 30px;
      }

      input[type=text] {
        width: 397px;
        border: none;
        outline: none;
        border-bottom: 1px solid black;
        background-color: transparent;
      }

      input[type=image] {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

#loadMoreButton {
  height: 6rem;
  width: 16.4rem;
  margin-left: auto;
  margin-right: auto;
  border: .1rem solid #626262;
  line-height: 6rem;
  text-align: center;

  a {
    font-size: 2rem;
    text-decoration: none;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    display: block;
  }
}

#footer {
  background-color: #f0f0f0;
  height: 9.9rem;
  margin-top: 10rem;

  .content {
    width: 98rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  ul.social {
    list-style: none;
    float: right;
    padding: 0;
    width: 76px;
    overflow: hidden;
    margin: 0;
    margin-top: 4rem;

    li {
      float: left;
      margin-right: 17px;

      a {
        text-decoration: none;
        display: block;
        text-indent: 876px;
        background-image: url(../images/social.gif);
        background-repeat: no-repeat;
      }
    }

    li:nth-child(1) a {
      background-position: 0px 0px;
      width: 8px;
    }
    li:nth-child(2) a {
      background-position: -18px 0px;
      width: 18px;
    }
    li:nth-child(3) a {
      background-position: -36px 0px;
      width: 15px;
    }

    li:last-child {
      margin-right: 0;
    }
  }


  ul.items {
    float: left;
    margin-top: 4rem;

    li {
      float: left;
      margin-right: 1.7rem;
    }

    a {
      font-size: 1.4rem;
      font-family: "Playfair Display";
      color: rgb(0, 0, 0);
      line-height: 1.714;
      text-decoration: none;
    }
  }

}
