/* Reset */
body {
  margin: 0;
}

/* App */
.container {
  overflow: auto;
}

.header {
  background: url(./images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 1072px;
  position: relative;
}

#logo {
  position: absolute;
  top: 281px;
  left: 50%;
  margin-left: -33px;
}

#slogan {
  font-size: 54px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 448px;
  width: 586px;
  height: 106px;
  margin: 0;
  margin-left: -293px;
}

.header .details{
  position: absolute;
  top: 605px;
  left: 50%;
  margin-left: -295px;
  width: 590px;
  height: 322px;
  text-align: center;
  font-family: "lato";
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

#keyicon {
  position: absolute;
  left: 50%; 
  bottom: 115px;
  margin-left: -12px;
  width: 23px;
  height: 37px;
}

#aboutus {
  width: 898px;
  height: 308px;
  margin: 160px auto 158px auto;
  background-color: white;
  border: 2px solid rgb(60, 60, 60);
  position: relative;
  font-family: "Lato";
}

#aboutus h2 {
  text-transform: uppercase;
  font-size: 34px;
  width: 420px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: -20px;
  margin: 0;
  margin-left: -210px;
  text-align: center;
  color: #3c3c3c;
}

#aboutus div {
  text-align: center;
  font-size: 16px;
  color: #3c3c3c;
  margin-top: 74px;
}

#aboutus div p {
  margin: 0;
  line-height: 1.5;
  font-weight: lighter;
}


#services {
  background: url(./images/service-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 488px;
  overflow: hidden;
}

#services .container {
  background: url(./images/Messagecopy4.png) no-repeat 100% 100%;
  width: 899px;
  height: 251px;
  margin: 127px auto 110px auto;
  color: white;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
  padding-top: 65px;

  font-family: "Lato";
}

#services .container h2{
  text-align: center;
  font-size: 34px;
  font-weight; bold;
  position: absolute;
  width: 418px;
  left: 50%;
  top: -25px;
  margin: 0;
  margin-left: -209px;
  text-transform: uppercase; 
}

#services .container > div {
  width: 555px;
  height: 186px;
  margin: auto; 
  overflow: auto;
}

#services .container > div p {
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
  line-height: 1.618;
}

#whatwedo {
  width: 902px;
  height: 1183px;
  margin: 119px auto 114px auto;
  box-sizing: border-box;
  border: 2px solid rgb(60, 60, 60);

  font-family: "Lato";
  position: relative;
  text-align: center;
  color: rgb(60, 60, 60);
}

#whatwedo h2 {
  width: 420px;
  height: 28px;
  position: absolute;
  top: -14px;
  left: 50%;
  margin: 0;
  margin-left: -210px;
  text-align: center;
  background-color: white;
  text-transform: uppercase;
  color: rgb(60, 60, 60);
  font-weight: bold;
}

#whatwedo h3 {
  box-sizing: border-box; 
  background-position: 50% 0;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

#whatwedo h3.design {
  background-image: url(./images/design.png);
  height: 143px;
  margin: 124px auto 35px auto;
  padding-top: 120px;
}

#whatwedo h3.development {
  background-image: url(./images/development.png);
  height: 131px;
  margin: 110px auto 42px auto;
  padding-top: 112px;
}

#whatwedo h3.productManagement {
  background-image: url(./images/productManagement.png);
  height: 152px;
  margin: 93px auto 47px auto;
  padding-top: 136px;
}

#whatwedo p {
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
  width: 554px;
  margin: auto;
  line-height: 1.849;
}

#works {
  height: 484px;
  background-color: aqua;
}

#footer {
  width: 902px;
  height: 408px;
  margin: 134px auto 58px auto;
  background-color: green;
}
