@import 'normalize';

body {

}

.bg {
  width: 100%;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.83);
}

.clouds {
  width: 100%;
  height: 100%;
}

.bgClouds {
  background-image: url(../images/clouds.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 55%; 
  overflow: visible;
  position: relative;
}

.foregroundCloud {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  width: 35.9375%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.text {
  width: 66.25%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.bullets {
  .bullet:first-child {
    animation-delay: 0s;
  }
  .bullet:nth-child(2) {
    animation-delay: 2.1s;
  }
}

.bullet {
  position: absolute;
  width: 48.90625%;
  top: 19.318181818181818%;
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.bullet.left {
  left: -14.84375%;
  transform: translate(100%, -100%);
  animation-name: leftBullet;
}

.bullet.right {
  right: -14.84375%;
  transform: translate(-100%, -100%);
  animation-name: rightBullet;
}

.envelopes {
  /*
  width: 67.65625%;
  height: 224.1477272727273%;
  position: absolute;
  left: -26.09375%;
  top: 23.295454545454544%;
  */
  
  .envelope {
    position: absolute;
    top: 23.295454545454544%;
    width: 9.84375%;
    opacity: 0;
    
    animation-timing-function: ease-in;
    animation-duration: 4.8s;
    animation-iteration-count: infinite;
  }
  
  .envelope:nth-child(1) {
    animation-delay: 0.6s;
  }
  .envelope:nth-child(2) {
    animation-delay: 1.4s;
  }
  .envelope:nth-child(3) {
    animation-delay: 2.2s;
  }
  .envelope:nth-child(4) {
    animation-delay: 3.0s;
  }
  .envelope:nth-child(5) {
    animation-delay: 3.8s;
  }
  .envelope:nth-child(6) {
    animation-delay: 4.6s;
  }
  
  .envelope.left {
    transform: translate(100%, -100%);
    right: 58.4375%;
    animation-name: leftEnvelope;
  }
  
  .envelope.right {
    transform: translate(-100%, -100%);
    left: 58.4375%;
    animation-name: rightEnvelope;
  }
}

@keyframes leftBullet {
  from {
  }
  
  to {
    transform: translate(-100%, 100%);
  }
}

@keyframes rightBullet {
  from {
  }
  
  to {
    transform: translate(100%, 100%);
  }
}

@keyframes leftEnvelope {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 1;
    transform: translate(-800%, 1200%) scale(8);
  }
}

@keyframes rightEnvelope {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 1;
    transform: translate(800%, 1200%) scale(8);
  }
}