#head {
  background-image: none;
  background-position-x: 0;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/logo-small.png', sizingMethod='crop');
}

#maincontent {
  margin: 0;
  padding: 0;
  width: 646px;

  .top {
    height: 26px;
    background: url(../images/maincontent-top.png) no-repeat;
  }
  .body {
    _height: 247px;
  }
  .container {
    background: url(../images/ry_02.png) repeat-y;
    width: 100%;
    /*
    padding-left: 36px;
    */

    #mainBlock {
      margin-left: 36px;
      display: inline;
    }

    #sidebar {
      margin-right: 31px;
      display: inline;
    }

  }
  .bottom {
    height: 16px;
    background: url(../images/maincontent-bottom.png) no-repeat;
  }
}

#footer {
  width: 649px;
  height: 107px;
  margin: 0;
  top: -15px;
  background-image: none;
  /*
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/footer-bg.png', sizingMethod='scale');
  */
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/footer-bg-long-01.png', sizingMethod='scale');

  p {
    left: 50px; 
  }
}
