#head {
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/logo.png', sizingMethod='scale');
}

#maincontent {
  .body {
    _height: 247px;
  }
}

#footer {
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/footer-bg.png', sizingMethod='scale');
}
