/**
 * Normalize.
 */
body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Page */
body {
  background: url(../images/body-bg.jpg) repeat;
}

#wrap {
  width: 781px;
  min-height: 536px;
  margin-left: auto;
  margin-right: auto;
}

#navigation {
  clear: both;
  height: 48px;
  position: relative;
  top: -5px;
  margin-left: 31px;

  li {
    float: left;

    a {
      display: block;
      width: 168px;
      height: 48px;
      overflow: hidden;
      text-indent: -999px;
      background-repeat: no-repeat;
    }
    a:hover {
      background-position: center center;
    }
  }

  li.articles a {
    background-image: url(../images/articles.jpg);
  }
  li.videos a {
    background-image: url(../images/videos.jpg);
  }
  li.downloads a {
    background-image: url(../images/downloads.jpg);
  }
}

#maincontent {
  overflow: auto;
  width: 563px;
  min-height: 207px;
  background-color: white;
  margin-left: 23px;
  border-radius: 18px;
  background-image: -moz-linear-gradient( -90deg, rgb(217,217,217) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(217,217,217) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(217,217,217) 0%, rgb(255,255,255) 100%);
  box-shadow: 0px 5px 21px 0px rgba(0, 0, 0, 0.75);

  padding-top: 17px;
  padding-left: 13px;
  padding-right: 31px;

  .container {
    width: 563px;
    min-height: 190px;

    #mainBlock {
      width: 442px;
      min-height: 100px;
      float: left;
      padding-left: 4px;
      padding-right: 9px;
      padding-top: 5px;

      h1 {
        font-size: 18px;
        color: #cea433;
      }

      p.meta {
        background-color: #fff9a7;
      }

      p {
        color: #736355;
        font-size: 12px;

        a {
          color: #2a8cd2;
        }
      }
    }

    #sidebar {
      float: right;
      margin-top: 6px;
    }
  }


  .MAIN_CONTENT {
                position: absolute;
                  left: 23px;
                    top: 156px;
                          z-index: 42;
  }

  .Mock_Content {
      position: absolute;
        left: 0px;
          top: 0px;
            width: 781px;
              height: 536px;
                z-index: 60;
  }
  .Layer_10 {
      background-image: url("Layer 10.png");
        position: absolute;
          left: 507px;
            top: 179px;
              width: 92px;
                height: 93px;
                  z-index: 59;
  }
  .Layer_9 {
      background-image: url("Layer 9.png");
        position: absolute;
          left: 36px;
            top: 173px;
              width: 455px;
                height: 164px;
                  z-index: 58;
  }

  /*
  .top {
    height: 26px;
    background: url(../images/maincontent-top.png) no-repeat;
  }
  */

  .body {
    min-height: 247px;
    /*
    background: url(../images/ry_02.png) repeat-y;
    */
  }

  /*
  .bottom {
    height: 16px;
    background: url(../images/maincontent-bottom.png) no-repeat;
  }
  */
}

#footer {
  width: 568px;
  height: 102px;
  background: url(../images/footer-bg.png) no-repeat;
  margin-left: 40px;
  position: relative;

  p {
    margin: 0;
    font-size: 12px;
    font-family: "Avenir";
    color: rgb(42, 42, 42);
    text-transform: uppercase;
    line-height: 1.633;
    text-align: left;
    -moz-transform: scale(0.99, 1);
    -webkit-transform: scale(0.99, 1);
    -ms-transform: scale(0.99, 1);
    position: absolute;
    left: 10px;
    top: 14px;
    font-weight: bold;
  }
}
/* Debug */

/*
#head {
  outline: 1px solid red;
}

#maincontent {
  outline: 1px dotted yellow;
}

#footer {
  outline: 1px dotted aqua;
}
*/
