/**
 * Normalize.
 */
body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Page */
body {
  background: url(../images/body-bg.jpg) repeat;
}

#wrap {
  width: 781px;
  min-height: 536px;
  margin-left: auto;
  margin-right: auto;
}

#navigation {
  clear: both;
  height: 48px;
  position: relative;
  top: -5px;
  margin-left: 31px;

  li {
    float: left;

    a {
      display: block;
      width: 168px;
      height: 48px;
      overflow: hidden;
      text-indent: -999px;
      background-repeat: no-repeat;
    }
    a:hover {
      background-position: center center;
    }
  }

  li.articles a {
    background-image: url(../images/articles.jpg);
  }
  li.videos a {
    background-image: url(../images/videos.jpg);
  }
  li.downloads a {
    background-image: url(../images/downloads.jpg);
  }
}

#maincontent {
  width: 646px;
  background: url(../images/ry_02.png) repeat-y;

  .top {
    height: 26px;
    background: url(../images/maincontent-top.png) no-repeat;
  }

  .body {
    min-height: 247px;
  }

  .bottom {
    height: 16px;
    background: url(../images/maincontent-bottom.png) no-repeat;
  }
}

#footer {
  width: 568px;
  height: 102px;
  background: url(../images/footer-bg.png) no-repeat;
  margin-left: 40px;
}
/* Debug */

/*
#head {
  outline: 1px solid red;
}

#maincontent {
  outline: 1px dotted yellow;
}

#footer {
  outline: 1px dotted aqua;
}
*/
